{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div class="container">
        <table class="table">
            <tr>
                <th>Date of Transaction</th>
                <th>Stock Symbol</th>
                <th>Qty. of Shares</th>
                <th>Share Price</th>
            </tr>
            {% for stock in transactions %}
                <tr>
                    <td>{{ stock['date'] }}</td>
                    <td>{{ stock['symbol'].upper() }}</td>
                    <td>{{ stock['shares'] }}</td>
                    <td>{{ stock['price'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
